search-container {
  width: 100%;
}

form {
  position: relative;
  width: 70%;
  margin: auto;
  background: var(--lightBlue);
  border-radius: var(--rad);
}
input {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--dark);
  font-size: 18px;
}

button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--dark);
  font-size: 18px;
}
input[type="search"] {
  outline: 0;
  width: 100%;
  background: #ffff;
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--lightBlue);
  border-radius: 0 var(--rad) var(--rad) 0;
  color: var(--white);
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
input:not(:placeholder-shown) + button {
  display: block;
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  background: none;
}

@media screen and (max-width: 768px) {
  input,
  button {
    font-size: 22px;
  }

  input[type="search"] {
    padding: 20px;
  }

  form {
    width: 100%;
  }
}
