:root {
  --rad: 10px;
  --dur: 0.3s;
  --font-fam: "Lato", sans-serif;
  --height: 4rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  /* --white: #f8f1f1;
  --blue: #11698e;
  --darkblue: #19456b;
  --green: #16c79a; */
  /* 
  --white: #a5aaad;
  --blue: #2e4a66;
  --dark: #19456b;
  --lightBlue: #469cac;
  --red: #cc3d38;
  --yellow: #a98921;
   */

  /* TEST 2 */
  --lightBlue: #00adb5;
  --dark: #222831;
  --white: #eeeeee;
  --grey: #393e46;
  --red: #cc3d38;
  --yellow: #a98921;
  --green: #16c79a;
}
