.navbar {
  background: var(--dark);
  grid-area: nav;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid var(--lightBlue);
}

.navbar .nav_logo img {
  width: 200px;
}

.navbar__links > a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
}

.navbar__links > a:hover {
  cursor: pointer;
  font-weight: 900;
  border-bottom: 3px solid var(--lightBlue);
  padding-bottom: 12px;
  font-size: 15px;
}

.navbar__links .active_link {
  color: var(--white);
  /* background-color: var(--lightBlue); */
  border-bottom: 3px solid var(--lightBlue);
  padding-bottom: 12px;
}

@media only screen and (max-width: 978px) {
  .navbar .nav_logo img {
    width: 150px;
  }

  .navbar__links span {
    display: none;
  }

  .navbar__links > a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
  }
}
