.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__links > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}

.navbar__links > a:hover {
  cursor: pointer;
  color: var(--dark);
  font-size: 15px;
  font-weight: 700;
}

.navbar__links .active_link {
  color: var(--dark);
  border-bottom: 3px solid var(--dark);
  padding-bottom: 12px;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }

  .nav_icon:hover {
    cursor: pointer;
    color: var(--dark);
  }

  .navbar {
    justify-content: space-between;
  }
}
