@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Variables */
@import url("styles/variables.css");
/* Scroolbar */
@import url("styles/scroolbar.css");

/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.text-primary-p {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: var(--darkblue);
  text-transform: capitalize;
}

.text-lightblue {
  color: var(--lightBlue);
}
.text-red {
  color: var(--red);
}

.text-yellow {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}
